@model Whip.Web.Models.PlaylistViewModel

<h1>@Html.DisplayFor(m => m.Title)</h1>

@if (Model.Tracks.Any())
{
    <div class="row">
        <div class="col-sm-12">
            <img src="@Model.Tracks[0].ArtworkUrl" width="200" height="200"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <audio controls>
                <source src="@Model.Tracks[0].Url" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>

    <ul>
        @foreach (var track in Model.Tracks)
        {
            <li>@Html.DisplayFor(m => track.Track.Title) by @Html.DisplayFor(m => track.Track.Artist.Name)</li>
        }
    </ul>
}
else
{
    <p>This playlist has no tracks</p>
}
