@model Tuple<List<Whip.Web.Models.TrackViewModel>, bool>

@{
    var panelClass = Model.Item2
        ? "panel-body"
        : "panel-body panel-body-no-footer";
}

@if (Model.Item1 != null && Model.Item1.Any())
{
    <div class="@panelClass panel-table">
        <table class="table table-striped table-condensed">
            <tbody>
            @foreach (var track in Model.Item1)
            {
                <tr>
                    <td>@Html.DisplayFor(m => track.Track.Title)</td>
                    <td>@Html.DisplayFor(m => track.Track.Artist.Name)</td>
                    <td>@Html.DisplayFor(m => track.Track.Disc.Album.Title)</td>
                    <td>@Html.DisplayFor(m => track.Track.Disc.Album.Year)</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
}
else
{
    <div class="@panelClass">
        <p>No tracks to display</p>
    </div>
}