@using Whip.Web.ExtensionMethods
@model Whip.Web.Models.TrackListViewModel

@if (Model.Tracks != null && Model.Tracks.Any())
{
    <table class="table table-striped table-condensed">
        <tbody>
        @foreach (var track in Model.Tracks)
        {
            <tr>
                <td>@Html.DisplayFor(m => track.Track.Title)</td>
                <td>@Html.DisplayFor(m => track.Track.Artist.Name)</td>
                <td>@Html.DisplayFor(m => track.Track.Disc.Album.Title)</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="section">
        <div class="row">
            <div class="col-xs-4">
                @Html.DisplayPageLinkFor(m => m.FirstPageUrl, "chevron-left", 2)
                @Html.DisplayPageLinkFor(m => m.PreviousPageUrl, "chevron-left", 1)
            </div>
            <div class="col-xs-4 text-center">
                Page @Model.Page of @Model.TotalPages
            </div>
            <div class="col-xs-4 text-right">
                @Html.DisplayPageLinkFor(m => m.NextPageUrl, "chevron-right", 1)
                @Html.DisplayPageLinkFor(m => m.LastPageUrl, "chevron-right", 2)
            </div>
        </div>
    </div>
}
else
{
    <p>No tracks to display</p>
}