@model Whip.Web.Models.PlayViewModel

<h1>@Html.DisplayFor(m => m.Title)</h1>

@if (Model.Tracks.Any())
{
    <div id="player">
        <div id="artwork" class="col-sm-12">
            <img src="@Model.FirstTrack.ArtworkUrl" width="200" height="200"/>
        </div>

        <div class="col-sm-12">
            <audio id="controls" controls>
                <source id="mpeg_src" src="@Model.FirstTrack.Url" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div id="description" class="col-sm-12">
            @Html.DisplayFor(m => m.FirstTrack.Track.Title) by @Html.DisplayFor(m => m.FirstTrack.Track.Artist.Name)
        </div>
        
        <button id="previous" type="button">Previous</button>
        <button id="play" type="button">Play</button>
        <button id="pause" type="button" class="hidden">Pause</button>
        <button id="next" type="button">Next</button>
    </div>

    <ul>
        @foreach (var track in Model.Tracks)
        {
            <li>
                @Html.DisplayFor(m => track.Track.Title) by @Html.DisplayFor(m => track.Track.Artist.Name)
            </li>
        }
    </ul>
}
else
{
    <p>This playlist has no tracks</p>
}
