@model Whip.Web.Models.PlaylistsViewModel

<div id="tab-playlists">
    <h1>Playlists</h1>

    <div class="row">

        <div class="col-sm-12 col-md-4">
            <h2>Standard Playlists</h2>
            
            <div class="btn-group-vertical btn-group-playlists">
                @foreach (var playlist in Model.StandardPlaylists)
                {
                    <div class="btn-group block">
                        <button type="button" data-whip-play-url="@Html.DisplayFor(m => playlist.PlayUrl)" class="btn btn-default">@Html.DisplayFor(m => playlist.Title)</button>
                        <button type="button" data-whip-url="@Url.Action("StandardPlaylist", "Playlists", new {id = playlist.Id})" class="btn btn-default">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                    </div>
                }
            </div>

        </div>

        <div class="col-sm-12 col-md-4">
            <h2>Criteria Playlists</h2>

            <div class="btn-group-vertical btn-group-playlists">
                @foreach (var playlist in Model.CriteriaPlaylists)
                {
                    <div class="btn-group block">
                        <button type="button" data-whip-play-url="@Html.DisplayFor(m => playlist.PlayUrl)" class="btn btn-default">@Html.DisplayFor(m => playlist.Title)</button>
                        <button type="button" data-whip-url="@Url.Action("CriteriaPlaylist", "Playlists", new {id = playlist.Id})" class="btn btn-default">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <h2>Ordered Playlists</h2>

            <div class="btn-group-vertical btn-group-playlists">
                @foreach (var playlist in Model.OrderedPlaylists)
                {
                    <div class="btn-group block">
                        <button type="button" data-whip-play-url="@Html.DisplayFor(m => playlist.PlayUrl)" class="btn btn-default">@Html.DisplayFor(m => playlist.Title)</button>
                        <button type="button" data-whip-url="@Url.Action("OrderedPlaylist", "Playlists", new {id = playlist.Id})" class="btn btn-default">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>